<!--Learned CSS override styles in subsequent css color text.-->
<!--Figured it out with no video assistance.-->

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }

  .blue-text {color: blue;}
</style>
<h1 class="pink-text blue-text">Hello World!</h1>
